package ${model.packageName};

import me.builder.Builder;

public class ${model.className}Builder extends ${model.className}Fluent<${model.className}Builder> implements Builder<${model.className}> {

    public ${model.className} build() {
       return new ${model.className}(#foreach($arg in $model.constructorArguments)#if (${arg.type} == "boolean" || ${arg.type.contains("Boolean")}) is#else get#end${arg.name.substring(0,1).toUpperCase()}${arg.name.substring(1)}()#if( $foreach.hasNext ),#end#end );
    }
}