package ${model.packageName};

#foreach($i in $model.imports)
import $i.definition.getFullyQualifiedName();
#end

#class ($model)


#foreach($f in $model.properties)
    #field ($f)
#end

#foreach ($c in ${model.constructors})
    #method ($c)
    #foreach ($s in $c.block.statements)
        $s.toString()
    #end
#end
#end

#foreach($m in $model.methods)
    #method ($m)
    #foreach ($s in $m.block.statements)
        $s.toString()
    #end
#end
#end

#end