package ${model.packageName};

#foreach($i in $model.imports)
import $i;
#end

#class ($model)


#foreach($m in $model.methods)
    #method ($m)#end
#end

#foreach($n in $model.innerTypes)
    #class ($n)
    #foreach($m in $n.methods)
        #method ($m)#end
    #end
    #end

#end
#end
