package ${model.type.packageName};

#foreach($i in $model.imports)
import $i.fullyQualifiedName;
#end

#class ($model)

#foreach($f in $model.fields)
    #field ($f)
#end


#foreach($m in $model.methods)
    #method ($m)
    ${m.attributes.get("BODY")}
    #end
#end

#foreach($n in $model.nested)
    #class ($n)

    #foreach($f in $n.fields)
    private final ${f.type.simpleName} ${f.name};
    #end

    #foreach($c in $n.constructors)
        #method ($c)
        ${c.attributes.get("BODY")}
        #end
    #end

    #foreach($m in $n.methods)
        #method ($m)
            ${m.attributes.get("BODY")}
        #end
    #end
#end
#end

#end
