<?xml version='1.0' encoding='UTF-8'?>
<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/maven-v4_0_0.xsd">

    #if ($model.project.parent)

    <parent>
        <groupId>${model.project.parent.groupId}</groupId>
        <artifactId>${model.project.parent.artifactId}</artifactId>
        <version>${model.project.parent.version}</version>
    </parent>
    #end

    <modelVersion>4.0.0</modelVersion>

    <groupId>${model.project.groupId}</groupId>
    <artifactId>${model.project.artifactId}-bom</artifactId>
    <version>${model.project.version}</version>
    <name>${model.project.name}. Bom</name>
    <packaging>pom</packaging>
    <description>Bill of material</description>
    #if ($model.project.url)

    <url>${model.project.url}</url>#end
    #if ($model.project.licenses && !$model.licenses.isEmpty())

    <licenses>#foreach($l in $model.project.licenses)

        <license>
            <name>${l.name}</name>
            <url>${l.url}</url>
            <distribution>${l.distribution}</distribution>
        </license>#end

    </licenses>
    #end

    #if ($model.project.scm)

    <scm>
        <connection>${model.project.scm.connection}</connection>
        <developerConnection>${model.project.scm.developerConnection}</developerConnection>
        <url>${model.project.scm.connection}</url>
        <tag>${model.project.scm.tag}</tag>
    </scm>
    #end

    #if ($model.project.developers && !$model.project.developers.isEmpty())
    <developers>#foreach($d in $model.project.developers)

        <developer>
            <id>${d.id}</id>
            <name>${d.name}</name>#if($d.email)

            <email>${d.email}</email>#end#if($d.url)

            <url>${d.url}</url>#end#if($d.organization)

            <organization>${d.organization}</organization>#end#if($d.organizationUrl)

            <organizationUrl>${d.organizationUrl}</organizationUrl>#end

        </developer>#end

    </developers>#end

    <dependencyManagement>
        <dependencies>#foreach($a in $model.archives)

            <dependency>
                <groupId>${a.groupId}</groupId>
                <artifactId>${a.artifactId}</artifactId>
                <version>${a.version}</version>#if( $a.scope && $!a.scope != '' )

                <scope>${a.scope}</scope>#end#if( $a.type && $!a.type != '' && $!a.type != 'jar' && $!a.type != 'bundle')

                <type>${a.type}</type>#end#if( $a.classifier && $!a.classifier != '' )

                <classifier>${a.classifier}</classifier>#end

            </dependency>#end

        </dependencies>
    </dependencyManagement>
    #if (!$model.plugins.isEmpty())

    <build>
        <pluginManagement>
            <plugins>#foreach($p in $model.plugins)

                <plugin>
                    <groupId>${p.groupId}</groupId>
                    <artifactId>${p.artifactId}</artifactId>
                    <version>${p.version}</version>
                </plugin>#end

            </plugins>
        </pluginManagement>
    </build>
    #end

    <distributionManagement>
        #if ($model.project.distributionManagement.downloadUrl)

        <downloadUrl>${model.project.distributionManagement.downloadUrl}</downloadUrl>
        #end
        #if ($model.project.distributionManagement.relocation)

            <relocation>${model.project.distributionManagement.relocation}</relocation>
        #end
        #if ($model.project.distributionManagement.downloadUrl)

            <downloadUrl>${model.project.distributionManagement.downloadUrl}</downloadUrl>
        #end
        #if ($model.project.distributionManagement.repository)

        <repository>
            <id>${model.project.distributionManagement.repository.id}</id>
            <name>${model.project.distributionManagement.repository.name}</name>
            <layout>${model.project.distributionManagement.repository.layout}</layout>
            <url>${model.project.distributionManagement.repository.url}</url>
        </repository>
        #end
        #if ($model.project.distributionManagement.snapshotRepository)

         <snapshotRepository>
             <id>${model.project.distributionManagement.snapshotRepository.id}</id>
             <name>${model.project.distributionManagement.snapshotRepository.name}</name>
             <layout>${model.project.distributionManagement.snapshotRepository.layout}</layout>
             <url>${model.project.distributionManagement.snapshotRepository.url}</url>
         </snapshotRepository>
        #end

    </distributionManagement>


</project>