package ${model.type.packageName};

#foreach($i in $model.imports)
import $i.fullyQualifiedName;
#end

#class ($model)

#foreach($f in $model.fields)
    private ${f.type.simpleName} ${f.name} #if(${f.type.collection}) = new ${f.type.defaultImplementation.className}()#end;
#end    

#foreach($m in $model.methods)
    #method ($m)
    ${m.attributes.get("BODY")}
    #end
#end

#foreach($n in $model.nested)
    #class ($n)
    
    #foreach($m in $n.methods)
        #method ($m)
            ${m.attributes.get("BODY")}
        #end
    #end
#end
#end

#end
