package ${model.type.packageName};

#foreach($i in $model.imports)
import $i.fullyQualifiedName;
#end

#class ($model)

#foreach ($m in $model.methods)
    ${m.returnType.simpleName} ${m.name}(#foreach ($a in ${m.arguments}) ${a.type.simpleName} ${a.name} #if( $foreach.hasNext ),#end#end);
#end

#end