package io.sundr.examples.crud;

public interface DaoHub {
#foreach ($e in $model.entrySet())
    #foreach ($l in ${e.value.comments})
    // ${l}
    #end
    public ${e.value.name} get${e.value.name}();
#end
}