package ${model.type.packageName};

public interface ${model.type.className}<T> {

#foreach($k in $model.keywords)
    ${k.to} ${k.name}( #foreach($p in ${k.parameters})$p.type $p.name#if( $foreach.hasNext ), #end#end );
#end
}    
